<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>homepage</servlet-name>
        <servlet-class>servlets.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calendarpage</servlet-name>
        <servlet-class>servlets.Calendarpage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restorepassword</servlet-name>
        <servlet-class>servlets.Restorepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eventspage</servlet-name>
        <servlet-class>servlets.Eventspage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event</servlet-name>
        <servlet-class>servlets.Event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administration</servlet-name>
        <servlet-class>servlets.Administration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Time</servlet-name>
        <servlet-class>servlets.Time</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidLogin</servlet-name>
        <servlet-class>android.AndroidLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AndroidRegistration</servlet-name>
        <servlet-class>android.AndroidRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendarpage</servlet-name>
        <url-pattern>/Calendarpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restorepassword</servlet-name>
        <url-pattern>/Restorepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eventspage</servlet-name>
        <url-pattern>/Eventspage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event</servlet-name>
        <url-pattern>/Event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administration</servlet-name>
        <url-pattern>/Administration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Time</servlet-name>
        <url-pattern>/Time</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidLogin</servlet-name>
        <url-pattern>/AndroidLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AndroidRegistration</servlet-name>
        <url-pattern>/AndroidRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
